<plist version="1.0"><dict>
        <key>items</key>
        <array>
		<dict>
		<key>assets</key>
		<array>
		<dict>
		<key>kind</key>
		<string>software-package</string>
		<key>url</key>
		<string>https://vip.d0.baidupan.com/file/?A2UBPwEwAjMBCAU9U2ZQPFFuBT1edFY6Vn8Ab1R4BmYCJFJjXWlQaAk6UFkBPF04BmECNVI/Bj0HNVNlVzsDNwMzAXABOgIlAWoFYFMyUGVRMwUwXjZWZVZjACBUeAZ3Aj9SN10wUDYJb1ApAWVdaQZzAjZSOQYrBzVTZVc4A2QDYgFlATgCZAFnBWpTZFA0UTkFYl5jVmZWYQBgVD4GMwI2UmFdNlBhCWlQMwE2XW0GbgJhUj0GNwcuUzxXewNjAyUBIwEvAjMBJQU6U2NQbFE6BTNeOFZnVmYAN1Q/BiECdlJsXW1QYQk5UDsBZF1pBmQCPlI5BjMHMFNsVz8DMQMtAXABKQImAWoFYlMpUHdRbQVsXnZWaVZgADNUMAY+AjZSM105UDMJbVAyAXNdKQYsAnBSMAY1BzVTbVcyAzYDNQFvAW8CZAFvBXVTclA4UXsFPV4wVmVWYQAoVDkGPwI1UitdMVA1CWpQKAFkXWoGbA==</string>
		</dict>
		</array>
		<key>metadata</key>
		<dict>
		<key>bundle-identifier</key>
		<string>science.xnu.undecimus</string>
		<key>bundle-version</key>
		<string>4.3.1</string>
		<key>kind</key>
		<string>software</string>
		<key>title</key>
		<string>unc0ver</string>
		</dict>
		</dict>
        </array>
		</dict>
		</plist>
